html{
    scroll-behavior: smooth;
}

body{
    background: url(Data/BG.jpg);
    background-repeat: repeat;
}

#navbar a{
    color:white;
    text-decoration: none;
    cursor: default;
    text-shadow: 3px 3px 2px black;
    transition: 0.1s;
    padding: 0px 20px 20px 0px;
    text-align: center;
    position: relative;
    right: 0px;
    top: -33px;
}
#navbar a:hover{
    color:red;
    text-shadow: 3px 3px 2px rgb(36, 36, 36);
    right: -5px;
}

#navbar{
    font-size: 30px;
    font-family: Helvetica;
    text-anchor: middle;
    width: 100%;
    height: 40px;
    position: fixed;
    top: -1px;
    left: 0;
    z-index: 100;
    background: url(Data/navbarBG.png);
    transition: background-position-x 1s,  border-bottom 0.2s;
    border-bottom: 2px solid white;
}

#navbar:hover{
    border-bottom: 2px solid red;
}

.navbartext{
    position: relative;
    top: 0;
    left: 50px;
}

.navbartext p{
    position: fixed;
    right: 2px;
    margin: 0;
    top: 0vw;
    text-shadow: 2px 2px 2px black;
    font-size: 1.75vw;
    cursor: default;
}

#navbar img{
    position: fixed;
    height: 40px;
    width: 30px;
}

#navbar #title{
    text-shadow: 2px 2px 2px black;
}

table tr td{
    padding: 5px;
    text-align: left;
}

.dynamicTable{
    position: relative;
    top: 30px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.dynamicTable tr td{ /* Info text */
    text-align: center;
    font-size: 1.25vw;
    font-family: helvetica;
    font-weight: bold;
    padding: 5px 2px 2px 5px;
    color: white;
    text-shadow: 3px 3px 2px black;
    cursor: default;
    transition: 0.05s;
}

.dynamicTable tr td:hover{
    color: gray;
}

.dtImage{
    width: 11vw;
    height: 11vw;
    border: 5px solid rgba(255, 255, 255, 0.75);
    border-radius: 100px;
    position: relative;
    top: 0;
    transition: opacity 0.15s, border-radius 0.30s, top 0.2s;
}

.dtImage:hover{
    cursor: not-allowed;
    border-radius: 75px;
    opacity: 0.75;
    top: -5px;
}

.userstitle{
    position: fixed;
    top: 30px;
    font-size: 30px;
    font-family: helvetica;
    color: white;
    font-weight: bold;
    cursor: default;
    text-shadow: 3px 3px 2px black;
}

.usertableheader{
    position: relative;
    top: 80px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: helvetica;
    text-shadow: 1px 1px 2px black;
    cursor: default;
    transition: top 0.5s;
    z-index: 2;
}

.usertableheader:hover{
    position: relative;
    top: 60px;
}

#usertableheaderarrow{
    position: relative;
    top: -10px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: helvetica;
    cursor: default;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s, top 0.5s;
}

.usertableheader:hover ~ #usertableheaderarrow{
    opacity: 1;
    position: relative;
    top: 3px;
}

/* DIV element, do not touch */
#usertable{
    height: 100px;
    position: relative;
    top: -50px;
}

.aboutdiv{
    position: relative;
    top: 500px;
    margin: 0px 50px;

    background: url(Data/aboutbg.png);
    background-size:cover;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.aboutdiv #aboutheader{
    font-family: helvetica;
    font-size: 100px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.aboutdiv .legalp2{
    font-family: helvetica;
    font-size: 2.5vw;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;

    position: relative;
    bottom: 90px;
}

.legaldiv{
    position: relative;
    top: 700px;
    margin: 0px 50px;

    background: url(Data/legalbg.png);
    background-size:cover;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.legaldiv #legalheader{
    font-family: helvetica;
    font-size: 100px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.legaldiv .legalp2{
    font-family: helvetica;
    font-size: 2.5vw;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;

    position: relative;
    bottom: 90px;
}

.infolink{
    text-decoration: none;
    color: gray;
}

.copyright{
    font-size: 12px;
    color: white;
    font-weight: bold;
    text-align: left;
    position: fixed;
    left: 3px;
    bottom: 0px;
}
